@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Mono:wght@700&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
:root {
    --brand1: #41608f; 
    --brand2: #6bc7bb; 
    --brand3: #ee3567; 
}
.bg-brand1 {background-color: var(--brand1);}
.bg-brand2 {background-color: var(--brand2);}
.shadow-brand1 {box-shadow: inset -20px 0 rgba(65, 96, 143,0.5);}
.shadow-brand2 {box-shadow: inset 20px 0 rgba(107, 199, 187,0.5);}
.banner{
    width: 100vw;
    height: 50vh;
    display: flex;
}
.banner__item{
    height: 100%;
    flex: 1 0 48.5%;
}
.banner__item:first-child{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner__item:nth-child(2n){
    flex: 1 0 51.5%;
}
.banner__item--cliff{
    background-image: url('./assets/cliff.jpg');
}
.banner__item--dish{
    background-image: url('./assets/dish.jpg');
}
.banner__item--paint{
    background-image: url('./assets/paint.jpg');
}
.banner__item--pattern{
    background-image: url('./assets/pattern.jpg');
}
.card{
    height: auto;
    max-width: 500px;
    background-color: rgb(252, 252, 252);
    margin-top: 20px;
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 5px 5px rgba(0,0,0, .1);
}
.float-left{
    margin-left: -3rem;
    margin-right: 3rem;
}
.float-right{
    float: right;
    margin-right: -3rem;
    margin-left: 3rem;
}
.float-left h1{
    color: var(--brand1);
}
.float-right h1{
    color: var(--brand2);
}
span{
    color: var(--brand3);
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
}
h1{
    font-size: 1.5rem;
}
p{
    font-size: .8rem;
    margin: 0;
    color: var(--brand1);
}
a{
    padding: .9rem;
    margin-top: 2.2rem;
    font-size: .9rem;
    width: fit-content;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    background-color: var(--brand3);
    border: 1px solid white;
    box-shadow: 2px 2px var(--brand3);
    text-decoration: none;
}
.banner__article{
    padding: .5rem;
}
.card--single{
    margin-left: -10%;
    max-width: 25rem;
    height: fit-content;
}
.card--single h1{
    color: var(--brand1);
}
.card__img{
    object-fit: cover;
    height: 100%;
    width: 50rem;
}
@media only screen and (min-width: 600px){
    .banner:nth-child(2n){
        flex-direction: row-reverse;
    }
}
@media only screen and (max-width: 600px){
    .banner{
        flex-direction: column;
        min-height: 100vh;
    }
    .card{
        margin: -10px 10px 10px 10px;
    }
    .shadow-brand1{
        box-shadow: inset 0px -20px rgba(65, 96, 143,0.5);
    }
    .shadow-brand2 {
        box-shadow: inset 0px -20px rgba(107, 199, 187,0.5);
    }
    .banner__item{
        flex: auto;
    }
    .card__img{
        width: 90%;
        height: inherit;
    }

}